
<section>
  <h1>{{title}}</h1>
  <ul class="dog-list">
    {{#if players}}
    {{#each players}}
    <li>
      Number: {{number}} - Name: {{name}} - Position: {{position}}
    </li>
    {{/each}}
    {{/if}}
  </ul>
  <br>
  <a href="/">Home</a>
  <a href="/auth/google">Login with Google</a>
  <a href="/auth/logout">Logout</a>
</section>
